.block {
  display: block;
}

.redText {
  color: red;
}

.greenText {
  color: green;
}

.purpleText {
  color: mediumpurple;
}

.orangeText {
  color: orange;
}

.inventoryBox {
  border: 1px solid var(--border-color);
  background-color: var(--border-color-softer);
  display: inline-block;
  /* height: 10rem; */
  margin: 4px;
  text-align: center;
  vertical-align: top;
}

.itemName {
  height: 2rem;
  line-height: 1rem;
  margin: 0.75rem 0.25rem;
}
